<a href="https://colab.research.google.com/github/hafizzx/programming-fundamental/blob/main/programming_fundamentals_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) First Program

In [3]:
#enter two inputs
fname=str(input('Enter your F name: '))
lname=str(input('Enter your L name: '))
#use variable Full_name and store them
Full_name=fname+''+lname
print(Full_name)

Enter your F name: Hafiz
Enter your L name: Abdullah
HafizAbdullah

 2) Program - Find the sum of a 4 digit number entered by the user

In [5]:
num=int(input('Enter a 4 digit Number'))
a=num%10
num=num//10
b=num%10
num=num//10
c=num%10
num=num//10
d=num%10
sum=a+b+c+d
print(sum)

Enter a 4 digit Number4554
18

3) Program-Login program and indentation

In [11]:
email=input('Enter Your Email: ')
passward=input('Enter Your Passward: ')
if email == 'karnalhafizabdullah@gmail.com' and passward == '123':
  print('WELCOME')
elif email == 'karnalhafizabdullah@gmail.com' and passward != '123':
  print('Invalid Passward: ')
  passward=input('Enter your Passward')
  if passward =='123':
    print('WELCOME')
  else:
    print('Tum sy naa hoo pye ga')
else:
  print('Invalid Passward')

Enter Your Email: karnalhafizabdullah@gmail.com
Enter Your Passward: 124
Invalid Passward
Enter your Passward123
WELCOME

4) Program to print the table

In [3]:
num=int(input('Enter the Number'))
i=1
while i<=10:
 print(num,'*',i,'=',num*i)
 i=i+1

Enter the Number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

5) Program-Number Guessing game

In [9]:
import random
jackport=random.randint(1,50)
guess=int(input('Koi b Number Guess kro!'))
count=1
while guess != jackport:
  if guess < jackport:
    print('in correct! Guess Higher')
  else:
    print('in correct! Guess lower')
  guess=int(input('Koi b Number Guess kro!'))
  count=count+1
else:
  print('Correct')
  print('Attempts',count)

Koi b Number Guess kro!45
in correct! Guess lower
Koi b Number Guess kro!23
in correct! Guess Higher
Koi b Number Guess kro!34
in correct! Guess Higher
Koi b Number Guess kro!38
in correct! Guess Higher
Koi b Number Guess kro!40
in correct! Guess Higher
Koi b Number Guess kro!42
Correct
Attempts 6

6) Program - The current population of a town is 50000. The population of the town is increasing at the rate of 15% per year. You have to write a program to find out the population at the end of each of the last 5 years.

In [14]:
current_pop = 50000
for i in range(5,0,-1):
  print(i,current_pop)
  current_pop = current_pop/1.1

5 50000
4 45454.54545454545
3 41322.31404958677
2 37565.74004507888
1 34150.67276825352

7) Program-Sequence sum
1/1! + 2/2! + 3/3! + ...

In [17]:
n = int(input('Enter a number'))
result=0
fact = 1
for i in range (1,n+1):
  fact = fact*i
  result = result + 1/fact
  print(result)

Enter a number4
1.0
1.5
1.6666666666666667
1.7083333333333335

8) Staric Pattern-Program

In [17]:
row = int(input('Enter the number of rows'))
for i in range(row+1,1,-1):
  for j in range(i-1):
    print('*',end='')
  print()

Enter the number of rows6
******
*****
****
***
**
*

9) Diamond Pattern- Program

In [22]:
rows = 5

# Upper half
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

# Lower half
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

10) Program-Pattern
1
121
12321
1234321

In [9]:
row = int(input('Enter the number of rows'))
for i in range(1,row+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

Enter the number of rows4
1
121
12321
1234321

11) Program-Find the prime between two ranges

In [11]:
lower = int(input('Enter the lower range'))
upper = int(input('Enter the upper range'))
for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

Enter the lower range3
Enter the upper range17
3
5
7
11
13
17

 12) Write a program that can check whether a given string is palindrome or not.

In [33]:
s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringnoon
Palindrome

13) Display Fibonacci series up to 10 terms

In [34]:
num1,num2 = 0,1

for i in range(10):
  print(num1)

  next = num1 + num2

  num1 = num2
  num2 = next

0
1
1
2
3
5
8
13
21
34

14) Find the factorial of a given number.

In [36]:
num = int(input('enter the number'))

fact = 1
for i in range(1,num+1):
  fact = fact*i

print(fact)

enter the number7
5040